@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: "Press Start 2P", sans-serif !important;
    font-size: smaller;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*----game-----*/

.memory-game,
.memory-card {
    scale: 0.8;
}

.front-face,
.back-face {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;


}

.front-face {
    transform: rotateY(180deg);
}


html {
    scroll-behavior: smooth;

}

.credit {
    position: absolute;
    bottom: 30px;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, auto);
    max-width: 100%;
    justify-content: center;
    perspective: 1000px;
    z-index: 100;
}

.memory-card {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

/*-----navbar-----*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar a {
    color: rgb(200, 200, 200);
}

/*-----home-----*/

#home {
    background-image: url(/assets/images/gbbackground.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.logo {
    position: absolute;
    top:30px;
}

.buttons {
    position: absolute;
    padding-top: 350px;
}

.how-to,
.reset {
    margin:5px;
        background-image: url(/assets/images/how.png);
        background-repeat: no-repeat;
        height: 50px;
        width: 120px;
        border: none;
      }
      
      button span {
        display: none;
      }



/*-----Contact Me-----*/

#contact {
    background-image: url(/assets/images/164022-GameBoy-gamepad-minimalism-video-games.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.modal {
    position: absolute;
    text-align: center;
    padding: 0!important;
    
  }

  .modal-content {
    display: inline-block;
    padding: 8px 9px;
    color:black;
    font-size: 1.1rem;
    background-color:rgba(138, 149, 107,0.9);
}

  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

/*-----media-----*/

 @media only screen and (max-width: 480px) {

    .memory-game,
    .memory-card {
        scale: 0.7;
    }

.modal {
    position: absolute;
    text-align: center;
    padding: 0!important;
    
  }
  .modal:before {
    content: '';
    display: inline-block;
    height: 25%;
    vertical-align: middle;
    margin-right: -4px;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

}

#audioplayer {
    display: none;
}