* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.front-face,
.back-face{
    width: 100px;
    height: 100px;
    border: 2px solid deeppink;
    position: absolute;
    border-radius: 5px;
    background-color: blue;

}


html {
    scroll-behavior: smooth;

}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.memory-game{
    border: 2px solid lime;
height: 640px;
width: 640px;
margin: auto;
display: flex;
flex-wrap:wrap;
perspective: 1000px;
}

.memory-card{
    border: 2px solid aqua;
    width:calc(25% - 10px);
    height:calc(33.333% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active{
transform: scale(.97);
transition: .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
  }
/*-----navbar-----*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar a {
    color:rgb(200, 200, 200);
}

/*-----home-----*/

#home {
    background-image: url(/assets/images/gamebackground720p.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

/*-----media-----*/

@media only screen and (max-width: 480px) {
    #home .home {
        background-image: url(/assets/images/gamebackgroundmobile.png);
        background-size: cover;
        background-position: top center;
        position: relative;
        z-index: 1;

    }
}